body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 10px 0;
}
#ufps{
    width: 30%;
    height: 30%;
}

main {
    padding: 20px;
}

#user-info {
    margin-bottom: 20px;
}

table {
    width: 70%;
    border-collapse: collapse;
    border: 1px solid #333;
}

table th,
table td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: gray;
    color: white;
}
#promedio {
    border: 1px solid #ccc; 
    padding: 30px; 
    display: inline-block; 
    margin-left: 50px; 
}
#nombre{
    float: left;
}
#codigo,#nombre{
    margin-left: 30px;
}

#btn_exit {
    margin-top: 20px; 
    padding: 5px 0px 15px 0px;
    background-color: #D31024;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 32px;
    width: 215px;
    border-bottom-left-radius: 20px;
    text-align: center;
    transition: 0.4s all;
    cursor: pointer;
}
#btn_exit:hover{
    background-color: red;
    transform: scale(1.03);
    }
@media screen and (max-width:480px){
        #ufps{
         width: 100%;
        }
        #promedio{
        margin-left: 150px;
        margin-top: 30px;
           }
           #btn_exit {
        margin-top: 120px;
           }
    }