body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
header{
    background-color: aquamarine;
    height: 120px;
    min-width: 300px;
}
main {
    background-color: lightcoral;
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; /
}

.labels, .inputs {
    margin: 10px 0; 
    display: block;
}
.labels{
    font-size: 14px;
}
.inputs{
    font-size: 16px;
}

#btn_ingresar {
    margin-top: 20px; 
}